.main_container {
    padding-top: 1rem;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    span {
        font-size: 2rem;
    }
}

.input_container {
    display: flex;
    justify-content: center;
}

.weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin-bottom: 0;
        font-size: 1.5rem;
    }
    h1 {
        margin-bottom: 0;
    }
}

.max_min_temp_container {
    height: 2rem;
    display: flex;
    align-items: center;
    span {
        display: flex;
        align-items: center;
    }
    b {
        font-size: 1.4rem;
        margin: 0 8px;
    }
}
