<div class="main_container">

    <div class="input_container">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchCities(value)" (click)="value=''">Search</button>
        <!-- <button >Search</button> -->
    </div>

    <div class="weather_container">

        <div class="current_weather_container" *ngFor="let current of service.currentWeather">
            <h3> {{ current.name }} / {{ current.sys.country }} </h3>
            <h1> {{ showTemp(current.main.temp) }} °C</h1>

            <div class="max_min_temp_container">
                <span>H: {{ showTemp(current.main.temp_max) }} °C <b>/</b></span>
                <span>T: {{ showTemp(current.main.temp_min) }} °C</span>
            </div>

            <p> {{ current.weather[0].description }} </p>
            <img src="http://openweathermap.org/img/wn/{{ current.weather[0].icon }}@2x.png">
        </div>

        <div class="dataContainer" *ngFor="let weekly of service.weeklyWeather; let i=index">
            <div class="daily_info_container" *ngFor="let day of weekly.daily">
                <span> {{ showDate(day.dt) | date: 'MMM d, y ' }} </span>

                <div class="temp_container">
                    <p> H:{{ showTemp(day.temp.max) }}°C</p>
                </div>
                <div class="progress_container">
                    <!-- <p>{{ showAverage(day.temp.max, day.temp.min) }}</p> -->
                    <mat-progress-bar mode="determinate" value="{{ showAverage(day.temp.max, day.temp.min) }}">
                    </mat-progress-bar>
                </div>

                <div>
                    <p> T:{{ showTemp(day.temp.min) }}°C </p>
                </div>



                <img src="http://openweathermap.org/img/wn/{{ day.weather[0].icon }}@2x.png">
            </div>
        </div>
    </div>

</div>