.main_container {
    height: 100vh;
    overflow-y: auto;
    background-color: #00000047;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 48px;
    span {
        font-size: 2rem;
    }
}

.input_container {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    button {
        height: calc(70.88px - 1.34375em);
    }
}

.weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin-bottom: 0;
        font-size: 1.5rem;
    }
    h1 {
        margin-bottom: 0;
    }
}

.max_min_temp_container {
    height: 2rem;
    display: flex;
    align-items: center;
    span {
        display: flex;
        align-items: center;
    }
    b {
        font-size: 1.4rem;
        margin: 0 8px;
    }
}

.list_container {
    margin: 16px 0;
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    display: flex;
    span {
        margin: 0 8px;
    }
}

.list_max_min_Temp {
    display: flex;
    justify-content: flex-end;
}

.daily_info_container {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    span {
        font-size: 24px !important;
        width: 139.59px;
    }
    p {
        font-size: 24px;
        margin: 0;
    }
    mat-progress-bar {
        height: 16px;
        width: 100px;
    }
}

.progress_container {
    width: 20%;
    display: flex;
    justify-content: center;
}

.temp_container {
    width: 11%;
    text-align: center;
}

@media (max-width: 1250px) {
    .main_container {
        overflow: unset;
        height: 80em;
    }
    .daily_info_container {
        width: unset;
        padding-left: 1em;
        span {
            font-size: 1em !important;
            width: unset;
        }
        p {
            font-size: 1em;
        }
    }
    .temp_container {
        width: unset;
        p {
            font-size: 1em;
        }
    }
}