body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    background-image: url("assets/thunderstorm-g994525b70_1920.jpg");
    background-size: cover;
    color: white;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
}

.mat-form-field-infix {
    color: white;
}

.mat-form-field-label {
    color: white;
}